.main {
    > * padding-left: 30px;}
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color:$primary-color;
  }
  
   ul {
    padding-left: 30px;
  }
  
 li {
    font-size: 0.85rem;
  }
  
  h1 {
    font-size: 62px;
    -webkit-margin-before: 0;
    padding-top: 40px;
    padding-left: 30px;
  }
  
  video {
    padding-left: 30px;
  }
  
   p {
    padding-left: 30px;
    width: 55%;
    min-width: 550px;
  }
  
  a {
    color: inherit;
    padding-left: 30px;
    text-decoration: none;
  }
  
   a:hover {
    text-decoration: underline;
  }